/**
* Custom CSS for Max Ross's Site
* 
*/

@import url(http://fonts.googleapis.com/css?family=Domine);


html {
	height: 100%;
}

body {
	color: #fff;
	height: 100%;
	font-family: 'Domine', sans-serif;
	background-color: #222;
}

.source { /*check on ipad*/
	background: url(../img/Max-bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header {
	padding-top: 10px;
	background: rgba(0,0,0,0.7);
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
	z-index: 999;
}

.nav {
	width: 390px;
	font-size: 14pt;
	text-align: center;
	list-style: none outside;
	margin:0 auto;
	padding-bottom: 30px;
	margin-top: -10px;
}

	.nav li {
		width: auto;
		float: left;
		padding: 0 10px;
	}

	.nav a {
		/*color: #999;*/
		display: block;
	}

	.nav a:hover {
		/*color: #ddd;*/
	}

.left-off-canvas-menu {
	
}

	.left-off-canvas-menu li {
		list-style: none outside;
		/*font-size: 10pt;*/
	}

.off-canvas-list {
	text-align: center;
}

.content {
	width: 100%;
	height: 100%;
	min-height: 590px;
	padding: 20px 20px 20px 20px;
	margin-bottom: 140px;
	background: rgba(0,0,0,0.7);
}

.sidebar {
	width: 100%;
	height: 100%;
	min-height: 590px;
	padding: 20px 20px 20px 20px;
	background: rgba(0,81,122,0.7);
}

#about {
	width: 90%;
	padding-left: 1.5em;
}

h1 {
	color: #fff;
	font-size: 65px;
	font-family: 'Armata', sans-serif;
}

h2, h3, h4, h5, h6 {
	color: #fff;
	font-family: 'Armata', sans-serif;
}

.footer {
	position:fixed;
	width: 100%;
	margin-top: 3em;
	text-align: center;
	padding: 10px 0 0 0;
	background: rgba(0,0,0,0.9);
	/*left:0px;*/
	right: 0;
  	bottom:0;
  	left: 0;
}

	.footer p {
		font-size: 11pt;
	}

.social {

}

	.social img {
		width: 40px;
		padding: -1px;
	}

.hiddenSide {
	display: none;
	visibility: hidden;
	height: 0px;
	width: 0px;
}

table {
	border-color: #444;
}

	table tr th {
		color: #fff;
	}




