/**
* Custom CSS for Max Ross's Site
* 
*/

@import url(http://fonts.googleapis.com/css?family=Domine);


html {
	height: 100%;
}

body {
	color: #fff;
	height: 100%;
	font-family: 'Domine', sans-serif;
	background-color: #222;
}

.source { /*check on ipad*/
	background: url(../img/Max-bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header {
	padding-top: 10px;
	background: rgba(0,0,0,0.7);
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
	z-index: 999;
}

.nav {
	width: 390px;
	font-size: 14pt;
	text-align: center;
	list-style: none outside;
	margin:0 auto;
	padding-bottom: 30px;
	margin-top: -10px;
}

	.nav li {
		width: auto;
		float: left;
		padding: 0 10px;
	}

	.nav a {
		/*color: #999;*/
		display: block;
	}

	.nav a:hover {
		/*color: #ddd;*/
	}

.left-off-canvas-menu {
	
}

	.left-off-canvas-menu li {
		list-style: none outside;
		/*font-size: 10pt;*/
	}

.off-canvas-list {
	text-align: center;
}

.content {
	width: 100%;
	height: 100%;
	min-height: 590px;
	padding: 20px 20px 20px 20px;
	margin-bottom: 140px;
	background: rgba(0,0,0,0.7);
}

.sidebar {
	width: 100%;
	height: 100%;
	min-height: 590px;
	padding: 20px 20px 20px 20px;
	background: rgba(0,81,122,0.7);
	border: 2px solid gray;
}

#about {
	width: 100%;
	padding: 1.5em;
	background: rgba(30,30,30,0.7);
}

.bioImg img {
	width: 100%;
}

.projects {
	text-align: center;
}

	.projects h3 {
		text-decoration: underline;
		padding-bottom: 1em;
	}

.musicBox {
	text-align: center;
	height: 12em;
	width: 100%;
	display: 50%;
	margin-bottom: 1em;
	/*background: #00abd6; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #00abd6 0%, #006582 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00abd6), color-stop(100%,#006582)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #00abd6 0%,#006582 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #00abd6 0%,#006582 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #00abd6 0%,#006582 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  #00abd6 0%,#006582 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abd6', endColorstr='#006582',GradientType=0 ); /* IE6-9 */
}

	.musicBox img {
		max-width: auto;
		max-height: 100%;
	}

#player {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

audio {
	position: fixed;
	width: 90%;
	left: 5%;
	bottom: 0px;
}

h1 {
	color: #fff;
	font-size: 65px;
	font-family: 'Armata', sans-serif;
}

h2, h3, h4, h5, h6 {
	color: #fff;
	font-family: 'Armata', sans-serif;
}

.homeImg {
	display: block;
	width: 60%;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	position:fixed;
	width: 100%;
	height: 10%;
	margin-top: 3em;
	text-align: center;
	padding: 10px 0 0 0;
	background: rgba(0,0,0,0.9);
	/*left:0px;*/
	right: 0;
  	bottom:0;
  	left: 0;
}

	.footer p {
		font-size: 11pt;
	}

.social {

}

	.social img {
		width: 40px;
		padding: -1px;
	}

.hiddenSide {
	display: none;
	visibility: hidden;
	height: 0px;
	width: 0px;
}

table {
	border-color: #444;
}

	table tr th {
		color: #fff;
	}




