<div class="row">
  <div class="small-12 columns" id="main">
    <div class="content">
      <h3>About Max Ross</h3><br>
      <div class="row">
        <div class="medium-4 columns bioImg">
          <img src="img/max-bio.jpeg">
        </div>
        <div class="medium-8 columns">
          <div id="about">
            <p><em>I'm a guitarist/singer-songwriter based in Sea Cliff, NY. In addition to performing as a solo artist, I am a member of Dijon (runners-up in the Hard Rock Rising Battle of the Bands), Tedesco (winners of the Mohegan Sun Locals Live contest), and Haley Ganis' band.</p>
            <p>In addition to performing, I also maintain a sizable roster of private guitar and piano students and teach through TakeLessons, Kathryn Brickell Music, and the Music Academy of Garden City.</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>