<div class="row">
  <div class="large-12 columns">
    <div class="content">
      <h3>Recent Blog Posts</h3>
      <div ng-repeat="feed in feeds | orderBy: 'title'">
      	<!-- <h2><a href="{{feed.link}}" target="_blank">{{feed.title}}</a></h2> -->
				<span ng-repeat="item in feed.entries | limitTo:3">
					<h2><a href="{{item.link}}" target="_blank">{{item.title}}</a></h2>
					<small>(<span>{{item.publishedDate | date:'fullDate'}}</span>)</small>
					<br />
					<p>{{item.contentSnippet}}</p>
				</span>
      </div>
    </div>
  </div>
</div>