<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <aside class="hiddenSide" id="subMenu">
        <!-- whatever you want goes here -->
        <ul class="off-canvas-list">
          <li><a ui-sref="main.home">Home</a></li>
          <li><a ui-sref="main.about">About</a></li>
          <li><a ui-sref="main.shows">Shows</a></li>
          <li><a ui-sref="main.music">Music</a></li>
          <li><a ui-sref="main.blog">Blog</a></li>
        </ul>
    </aside>
    <div class="row">
      <div class="small-12 columns">
        <div class="header">

              <a class="" ui-sref="splash" ><h1>Max Ross</h1></a>
              <a class="hiddenSide" id="menu">Menu</a>
              
              <ul class="nav" id="ulList">
                <li><a ui-sref="main.home">Home</a></li>
                <li><a ui-sref="main.about">About</a></li>
                <li><a ui-sref="main.shows">Shows</a></li>
                <li><a ui-sref="main.music">Music</a></li>
                <li><a ui-sref="main.blog">Blog</a></li>
              </ul>
        </div>
      </div>
    </div>

    <div ui-view></div>

    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>
  </div>
</div>

<!-- ******** FOOTER ******** -->
<!-- <div class="row"> -->
  <!-- <div class="large-12 columns"> -->
    <div class="footer">
      <div class="row">
        <div class="small-6 columns">
          <p><a href="mailto:MaxRoss1990@gmail.com" target="_blank">MaxRoss1990@gmail.com</a></br>
          (516) 361-4294<br>Copyright &copy; 2015 Max Ross</p>
          <p>Copyright &copy; 2015 Max Ross</p>
        </div>
        <div class="small-6 columns">
          <div class="social" style="padding-top:10px;">
            <a href="#"><img src="img/facebook.png"></a>
            <a href="#"><img src="img/twitter.png"></a>
            <a href="#"><img src="img/youtube.png"></a>
            <a href="#"><img src="img/Instagram.png"></a>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
<!-- </div> --> <!-- End Footer -->