<div class="row">
  <div class="large-12 columns">
    <div class="content">
      <h3>Tour Dates</h3><br>
      <div id="tour">
        <script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script><a href="http://www.bandsintown.com/Max%20Ross" class="bit-widget-initializer" data-artist="Max Ross" data-bg-color="#222" data-separator-color="#444">Max Ross Tour Dates</a>
        <script scr="http://api.bandsintown.com/artists/Skrillex/events.json?api_version=2.0&app_id=Skrillex"></script>
      </div>
    </div>
  </div>
  <!-- <div class="small-4 columns">
    <div class="content">
      <h3>Sidebar</h3>
      <p>This is a sidebar</p>
    </div>
  </div> -->
</div>